<!--<div ng-controller="GalleryController">-->

    <div class="jumbotron">
        <h1>Search all the GIF's</h1>

        <form ng-submit="submit()">
            <div class="input-group">
                <input type="text" name="query" ng-model="query" class="form-control input-lg"
                       placeholder="drugs, beer, girls...">
                <span class="input-group-btn">
                <button type="submit" class="btn btn-lg btn-success" type="button">Go!</button>
            </span>
            </div>
        </form>
    </div>

    <div>
        <p ng-show="search.length">Search results for '{{search}}'</p>

        <p ng-show="!search.length">Trending</p>

        <p ng-show="!list.length" class="text-danger">
            No items found, try another search request
        </p>
    </div>

    <div class="row img-thumbnails" infinite-scroll='loadMore()' infinite-scroll-distance='0'>
        <div class="col-md-3" ng-repeat="image in list">
            <a ng-click="openLightboxModal($index)"><img ng-src="{{ image.images.fixed_height_small.url }}"
                                                         class="img-thumbnail"></a>
            <p><a ng-click="saveToLocal(image)" class="btn btn-default">Save</a></p>
        </div>
    </div>


    <!--<img ng-repeat='image in images' ng-src='{{image.images.fixed_height_small.url}}'>-->
<!--</div>-->