<div class="jumbotron">
    <h1>My GIF's Collection</h1>


    <form name="myForm">
        <fieldset>
            <legend>Upload on form submit</legend>

            <br>Image:
            <input type="file" ngf-select ng-model="picFile" name="file"
                   accept="image/*" ngf-max-size="2MB" required id="upload"
                   ngf-model-invalid="errorFile">

            <i ng-show="myForm.file.$error.maxSize">File too large
                {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
            <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">

            <button ng-click="picFile = null" ng-show="picFile">Remove</button>

            <button ng-disabled="!myForm.$valid"
                    ng-click="uploadPic(picFile)" class="btn btn-success">Submit
            </button>
            <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%"
             ng-bind="picFile.progress + '%'"></div>
      </span>
            <span ng-show="picFile.result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </fieldset>
        <br>

    </form>

</div>

<div>


    <div class="row img-thumbnails">
        <div class="col-md-3" ng-repeat="image in localImages track by $index">
            <a ng-click="openLightboxModal($index)"><img ng-src="{{ image }}"
                                                         class="img-thumbnail"></a>
            <p><a ng-click="removeFromLocal($index)" class="btn btn-default">Remove</a></p>
        </div>
    </div>
</div>